@import url('https://fonts.googleapis.com/css2?family=Questrial');

:root {
  --white-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Font size = 1rem = 10px = 62.5% of 16px */
  font-size: 62.5%;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  overflow: hidden;
  margin-top: 3rem;
}

h1 {
  font-size: 2.4rem;
  text-transform: capitalize;
  color: var(--white-color);
  margin-bottom: 2.4rem;
}

.screen {
  width: 60%;
  height: 60vh;
  background-color: #000 !important;
  border-radius: 1rem 1rem 0 0;
  cursor: pointer;
}

.controls {
  width: 60%;
  background-color: #333;
  color: var(--white-color);
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
}

.controls .btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: var(--white-color);
}

.controls .timestamp {
  font-size: 1.4rem;
  color: var(--white-color);
  font-weight: bold;
  margin-left: 1rem;
}

.controls .btn:focus {
  outline: none;
}

@media (max-width: 50em) {
  .screen,
  .controls {
    width: 90%;
  }
}
